body {
  margin-top: 0;
  background-color: rgb(202, 202, 202);
}

.app {
  display: flex;
}

.table1 {
  margin-top: 1%;
  font-family: sans-serif;
  text-align: center;
  width: 25%;
  margin-left: 3%;
}

.table2 {
  margin-top: 1%;
  font-family: sans-serif;
  text-align: center;
  width: 25%;
  margin-left: 3%;
}

.table3 {
  margin-top: 1%;
  font-family: sans-serif;
  text-align: center;
  width: 25%;
  margin-left: 3%;
}



